@model TARSDeliveryWebApp.Models.Package

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<div class="container-fluid mt-3">
    <table id="table-datatables" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Address From</th>
                <th>Address To</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Id)

                </td>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AddressFrom)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AddressTo)
                </td>

            </tr>


        </tbody>

    </table>
</div>