@model TARSDeliveryWebApp.Models.Package

@{
    ViewData["Title"] = "Search";
}


<main id="main">
    <!-- ======= Search Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Search</h2>
                <ol>
                    <li><a asp-action="Index" asp-controller="Home" asp-area="User">Home</a></li>
                    <li>Search</li>
                </ol>
            </div>

        </div>
    </section><!-- End Search Section -->
    <!-- ======= Search Section ======= -->
    <section class="Search" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

        <div class="container-fluid mt-3">
            <table id="table-datatables" class="ui celled table" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Address From</th>
                        <th>Address To</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Id)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.AddressFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.AddressTo)
                        </td>
                        @if (Model.Status == 1)
                        {
                            <td>
                                <span class="badge badge-primary">Stored</span>
                                <span>
                                    @if (Model.Distance > 0)
                                    {
                                        <sup class="text-danger small"><b>VPP</b></sup>
                                    }
                                    else
                                    {
                                        <sup class="text-secondary small"><b>Branch</b></sup>
                                    }
                                </span>
                            </td>
                        }
                        else if (Model.Status == 2)
                        {
                            <td>
                                <span class="badge badge-warning">Doing</span>
                                <span>
                                    @if (Model.Distance > 0)
                                    {
                                        <sup class="text-danger small"><b>VPP</b></sup>
                                    }
                                    else
                                    {
                                        <sup class="text-secondary small"><b>Branch</b></sup>
                                    }
                                </span>
                            </td>
                        }
                        else if (Model.Status == 3)
                        {
                            <td>
                                <span class="badge badge-success">Finish</span>
                                <span>
                                    @if (Model.Distance > 0)
                                    {
                                        <sup class="text-danger small"><b>VPP</b></sup>
                                    }
                                    else
                                    {
                                        <sup class="text-secondary small"><b>Branch</b></sup>
                                    }
                                </span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="badge badge-danger">Erorr</span>
                                <span><sup class="text-danger small"><b>VPP</b></sup></span>
                            </td>
                        }

                    </tr>


                </tbody>

            </table>
        </div>


    </section><!-- End Search Section -->

