@model TARSDeliveryWebApp.Models.PriceList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PriceList</h4>
<hr />
<div class="container-fluid mt-3">
    <table id="table-datatables" class="ui celled table" style="width:100%">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden value="@Model.Id" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceDistance" class="control-label"></label>
                    <input asp-for="PriceDistance" class="form-control" />
                    <span asp-validation-for="PriceDistance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceWeight" class="control-label"></label>
                    <input asp-for="PriceWeight" class="form-control" />
                    <span asp-validation-for="PriceWeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
