@{
    ViewData["Title"] = "Index";
}
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>TARSDELIVERY</span></h2>
                <p class="animate__animated animate__fadeInUp">We deliver mail during the day to all households, on all days except weekends and public holidays. Information is provided here about mail delivery and the services you can use to ensure smooth delivery in line with your needs.</p>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Mail delivery in apartment blocks</h2>
                <p class="animate__animated animate__fadeInUp">We ensure that mail is delivered to the right recipient and that mail carriers can deliver mail efficiently and in a good work environment.</p>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Postbox</h2>
                <p class="animate__animated animate__fadeInUp">With a postbox, you can easily receive mail and parcels even if you do not have permanent business premises, as you can collect consignments during the service point’s opening hours.</p>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section><!-- End Hero -->
<!-- ======= Services Section ======= -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">Mail delivery in apartment blocks</a></h4>
                    <p class="description">We ensure that mail is delivered to the right recipient and that mail carriers can deliver mail efficiently and in a good work environment.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Multi-occupancy box</a></h4>
                    <p class="description">A multi-occupancy box provides a secure way to receive your mail if you live in an apartment block.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">Mailboxes at freestanding homes and townhouses</a></h4>
                    <p class="description">Make life easier for the mail carrier by placing your mailbox in a good location. This makes it possible for the mail to be delivered to the right recipient in an efficient way, and in a good working environment.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Book Rural mail delivery</a></h4>
                    <p class="description">If you are served by a rural mail carrier, you can book or cancel the delivery of your consignments here.</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->


<section class="features">
    <div class="container">

        <div class="section-title">
            <h2>Mail delivery to apartment blocks</h2>
            <p>We aim to ensure that mail is delivered to the right recipient and that mail carriers can deliver mail efficiently and in a good work environment.</p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="~/images/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4">
                <h3>Delivery to multi-occupancy mailboxes.</h3>
                <p class="font-italic">
                    If you live in an apartment block, the preferred method of delivery is using a multi-occupancy mailbox located at the street level entrance. This facilitates the work of the mail carrier and increases the security for you as a mail recipient. Furthermore, the lack of a need for mail boxes in individual doors reduces noise and the spread of odors. Another advantage with this approach is that it makes it easier to have online purchases delivered straight to your home.
                </p>
                <ul>
                    <li><i class="icofont-check"></i>The owner of your apartment block or the tenant-owner association is responsible for ensuring that the box is properly labeled.</li>
                </ul>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="~/images/features-2.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Delivery to normal mailboxes</h3>
                <p class="font-italic">
                    If your building does not have a multi-occupancy mailbox, the mail is delivered through the mailbox in the apartment door or to a mailbox located on the relevant floor of the building.
                </p>
                <p>
                    Mark the mailbox clearly with the names of the residents – the text should be at least 8 mm tall

                    Good lighting is important. The lighting on each floor should be at least 200 lux and it should be at least 100 lux in stairwells.

                    The mailbox must be a complete unit, with no risk of being cut or squeezed when it is used.
                </p>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="~/images/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5">
                <h3>Mail that is not delivered</h3>
                <p>Mail that cannot be delivered because, for example, the entry door is locked or the elevator does not work, is stored at the mail delivery office and delivered on the next delivery round. If your entry code has been or will soon be changed, it is important that you let us know. Inform us about new entry code.</p>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="~/images/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Delivery in the case of major renovations</h3>
                <p class="font-italic">
                    Often, major renovations of the plumbing, elevators or similar make it difficult or impossible for mail carriers to make deliveries. Please contact our customer service for assistance deciding how the delivery of mail can be carried out during renovation work.
                </p>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->
