@model TARSDeliveryWebApp.Models.Package
@{
    ViewData["Title"] = "Services";
}

<main id="main">
    <!-- ======= Services Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Services</h2>
                <ol>
                    <li><a asp-action="Index" asp-controller="Home" asp-area="User">Home</a></li>
                    <li>Services</li>
                </ol>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <h2>Check the distance to send the parcel</h2>
                    <form id="distance_form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <input asp-for="AddressTo" class="form-control" id="origin" placeholder="Enter a location of origin" />
                                    <span asp-validation-for="AddressTo" class="small text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="AddressFrom" class="form-control" id="destination" placeholder="Enter a location of destination" />
                                    <span asp-validation-for="AddressFrom" class="small text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div id="result">
                                        <span class="small text-danger msg"></span>
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center small">
                                                Distance In Mile:
                                                <span id="in_mile" class="badge badge-primary badge-pill"></span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center small">
                                                Distance is Kilo:
                                                <span id="in_kilo" class="badge badge-primary badge-pill"></span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center small">
                                                IN TEXT:
                                                <span id="duration_text" class="badge badge-primary badge-pill"></span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center small">
                                                IN MINUTES:
                                                <span id="duration_value" class="badge badge-primary badge-pill"></span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center small">
                                                FROM:
                                                <span id="from" class="badge badge-primary badge-pill"></span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center small">
                                                TO:
                                                <span id="to" class="badge badge-primary badge-pill"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div id="map"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <h5>Total Price: $1000.00</h5>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <button type="submit">View Map</button>
                                    <button type="submit" id="view-information">View Information</button>
                                    <button type="submit" id="reset-information" class="d-none">Reset Information</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-12">
                    <div id="show-information" class="d-none">
                        <h1>Information</h1>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
