@model TARSDeliveryWebApp.Models.Account
@{
    ViewData["Title"] = "Register";
}
<main id="main">
    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Register</h2>
                <ol>
                    <li><a asp-action="Index" asp-controller="Home" asp-area="User">Home</a></li>
                    <li>Register</li>
                </ol>
            </div>
        </div>
    </section><!-- End Contact Section -->
    <!-- ======= Contact Section ======= -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                    <div class="card-body">
                        <form asp-action="Register" asp-controller="Account" asp-area="User">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputFirstName">Fullname</label>
                                        <input class="form-control py-4" id="inputFirstName" type="text" placeholder="Enter fullname" asp-for="FullName"/>
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputLastName">Date of birth</label>
                                        <input class="form-control py-4" id="inputLastName" type="date" placeholder="Enter date of birth" asp-for="Birthday"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="text" placeholder="Enter email address" asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Phone</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="text" placeholder="Enter phone" asp-for="Phone" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Address</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="text" placeholder="Enter address" asp-for="Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Password</label>
                                        <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" asp-for="Password"/>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                                        <input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Confirm password" name="confirmpassword" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <p style="color:red">@ViewBag.Msg</p>
                            <div class="form-group mt-4 mb-0"><input type="submit" class="btn btn-primary btn-block" value="Create Account"/></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a asp-action="Login" asp-controller="Account" asp-area="User">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

