

@{
    ViewData["Title"] = "Index";
}

<h1>Branch List</h1>

<table class="table">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>addrees</th>
        <th>phone</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.Address</th>
            <th>@item.Phone</th>
        </tr>
    }
</table>
