@model TARSDeliveryWebApp.Models.Comment

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid mt-3">
    <div class="row">
        <div class=" col-md-9 col-lg-9 ">
                <h2>Details</h2>
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <td>Full Name:</td>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>FeedBack:</td>
                        <td>@Model.Body</td>
                    </tr>
                    <tr>
                        <td>Create At: </td>
                        <td>@Model.Create_at</td>
                    </tr>


</table>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Comment" asp-area="Admin">Back to list</a>
</div>